<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia - Music</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="music">
    <header class="header-horizontal">
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/music">music</a></li>
                <li><a href="/contact">contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <h4>Direct links</h4>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#love">Video: Organic Love</a>
            <li>
            <li><a href="#street">Video : street Light<a></li>
        </ul>

        <section id="album">
            <h3>album<br>twist in my reality</h3>
            <img src="/images/emilia-play-list.png" alt="">
            <ol>
                <li>
                    <a href=""><i class="fas fa-play"></i>
                    </a> Organic Love | 02:40
                </li>
                <li>
                    <a href=""><i class="fas fa-play"></i>
                    </a>Twist In My Reality | 02:10
                </li>
                <li>
                    <a href=""><i class="fas fa-play"></i>
                    </a>Street Light | 03:28
                </li>
                <li>
                    <a href=""><i class="fas fa-play"></i>
                    </a>Love Don’t Live Here Anymore (Cover) | 03:49
                </li>
            </ol>
            <a href="#">Go top</a>
        </section>
        <section id="love">
            <h3>
                video <br>
                organic love
            </h3>
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p> Wix Films LTD.</p>
            <a href="#">Go Top</a>
        </section>
        <section id="street">
            <h3>video <br> street light</h3>
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE</p>
            <p>Edited and Filmed by NICOLAS TROY</p>
            <p>Produced by NIKI HEART,</p>
            <p>Wix Films LTD.</p>
            <a href="#">Go Top</a>
        </section>
    </main>
</body>

</html>