.about{
    background-image: url(/images/emilia-about.jpg);
    background-size: 73.5% 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}


.about section{
    margin-left: 30px;
}

.about h3{
    color: var(--colorVerde);
    font-size: 20px;
}
 
.about p{
    color: var(--colorVerdeOscuro);
}

.about .comentario2{
    margin-top: 60px;
}