.header-horizontal{
    height: 100px;
    padding-top: 30px;
}

.header-horizontal nav{
    text-align:right ;
}
.header-horizontal nav ul{
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.header-horizontal nav li{
    display: inline;
    border-left: 1px solid black; /*ancho densidad color*/
    padding-right: 10px;
    padding-left: 10px;
}

.header-horizontal nav ul li:last-child{/* afecta a la ultima parte*/
    border-right: 1px solid black;
}

.header-horizontal nav ul li a{
    color: black;
    text-transform: uppercase;
}

.header-horizontal nav a{
    color: black;
}