.music{
    margin: 0;
}

.music header{
    background-image: url(/images/emilia-music-top.jpg);
    background-repeat: no-repeat;
    background-position: top;
    height: 100px;
    padding-top: 30px;
}

.music main{
    padding: 10px;
}

.music main ul{
    margin: 20px;

}

/*se pueden poner varios elementos a cambiar separando por comas*/
.music ul li a, .music main a{
    color: var(--colorVerdeOscuro);
}


.music h3{
    font-family: 'Raleway' ;
    text-transform: uppercase;
    font-size: 24px;
}

.music img{
    width: 640px;
}

.music ol{
    line-height: 36px;
}

.music ol li{
    list-style-type: decimal-leading-zero;
}

.music ol li a{
    color: black;
}

.music p{
    line-height: 10px;
}